* {
  box-sizing: border-box;
}

body { 
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(247, 247, 247);
  position: relative;
}

.text {
  /* border: 1px solid blue; */
  font-size: 24px;
  margin: 0;
  position: absolute; 
  top: 0;
  left: 0;
}

.btn_area {
  width: 150px;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 5px;
  width: 70px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  z-index: 1;
}

.btn--selected {
  background-color: skyblue;
}

.bird {
  /* border: 1px solid red; */
  width: 60px;
  margin: 0;
  position: absolute;
  visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
}

.frog {
  width: 100px;
  margin: 0;
  position: absolute;
  /* visibility: hidden; */
  transform: translateX(-50%) translateY(-50%);
}
