* {
  box-sizing: border-box;
}

body { 
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(247, 247, 247);
  position: relative;
}

.text {
  /* border: 1px solid blue; */
  font-size: 24px;
  margin: 0;
  position: absolute; 
  top: 0;
  left: 0;
}

.bird {
  /* border: 1px solid red; */
  width: 60px;
  margin: 0;
  position: absolute;
  /* visibility: hidden; */
  transform: translateX(-50%) translateY(-50%);
}

